.card{
        display: flex;
    flex-direction: column;
    //padding: 1.5em 1em;
    border: 1px solid #eee;
    border-radius: 0.25em;
    margin-top: 40px;
    vertical-align: top;
    font-size: 0.90em;
    max-width: 350px;
	height: 530px;
	border: 2px solid #eee;

    p {
        padding: 8px 30px;
    }
}

#card-left {
    margin-right: 15px;
}

.bg-card{
	width: 347px;
	height: 300px;
}

@media screen and (min-width: 845px) 
{
  #card-left, #card-right
    {
       display: inline-block;
        font-size: 1em;
    }
    #assos2 {
       height: 650px;
    }
}

